<div class="ui modal {{@index}} hidden">
  <i class="close icon"></i>
  <div class="header">
    {{product_name}}
  </div>
  <div class="image content">
    <div class="ui large image">
      <img src="/images/{{filename}}" />
    </div>
    <div class="description">
      <div class="ui header">About This Product.</div>
      <p>{{product_description}}</p>
    </div>
  </div>
  <div class="extra content" id="modal-price">
    <a>
      <i class="dollar sign icon"></i>
      {{price}}
    </a>
  </div>
  <div class="actions">
    <div class="ui black deny button">
      Go Back
    </div>
    <div class="ui right labeled icon button" id="add-{{@index}}">
      Add To Cart
      <i class="shop icon"></i>
    </div>
  </div>
</div>