<div class="card" id="prod-card">
  <div class="blurring dimmable image">
    <div class="ui dimmer">
      <div class="content">
        <div class="center">
          <div class="ui inverted button" id="dimmer-{{@index}}">View in detail</div>
        </div>
      </div>
    </div>
    <img src="/images/{{filename}}" alt="{{product_description}}" />
  </div>
  <div class="content">
    <a class="header">{{product_name}}</a>
    <div class="meta">
      <span class="desc">{{product_description}}</span>
    </div>
  </div>
  <div class="extra content">
    <a>
      <i class="dollar sign icon"></i>
      {{price}}
    </a>
  </div>
</div>